<div class="row">
  <div class="col">
    <button
      type="button"
      class="btn btn-primary"
      (click)="openPlaylistEditionModal()"
    >
      Add playlist
    </button>
  </div>
  <div class="col d-flex">
    <button
      type="button"
      class="btn btn-info text-white ms-auto"
      (click)="openPlaylistsExport()"
      *ngIf="playlists.length > 0"
    >
      Export all
    </button>
  </div>
</div>
<div class="row">
  <table class="table col">
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col">Name</th>
        <th scope="col">Owner</th>
        <th scope="col">Tracks</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let playlist of playlists">
        <td>
          <div class="btn-group" role="group">
            <button
              type="button"
              class="btn btn-outline-danger"
              (click)="removePlaylist(playlist)"
            >
              Remove
            </button>
            <button
              type="button"
              class="btn btn-outline-secondary"
              (click)="openPlaylistEditionModal(playlist)"
            >
              Edit
            </button>
            <button
              type="button"
              class="btn btn-outline-info"
              (click)="openPlaylistExport(playlist)"
            >
              Export
            </button>
          </div>
        </td>
        <td>{{ playlist.name }}</td>
        <td>{{ playlist.owner }}</td>
        <td>
          <ul class="list-group">
            <li
              class="list-group-item d-flex justify-content-between align-items-center"
              *ngFor="let track of playlist.tracks"
            >
              <div class="me-auto">
                <div class="fw-bold">{{ track.title }}</div>
                {{ track.artist }}
              </div>
              <span class="badge bg-primary rounded-pill">{{
                track.album
              }}</span>
            </li>
          </ul>
        </td>
      </tr>
    </tbody>
  </table>
</div>
