<div class="modal-header">
  <h4 class="modal-title">
    Playlist {{ isCreating() ? "creation" : "edition" }}
  </h4>
  <button
    type="button"
    class="btn-close"
    aria-label="Close"
    (click)="activeModal.dismiss('Cross click')"
  ></button>
</div>
<div class="modal-body">
  <div class="container">
    <form [formGroup]="editingForm" (ngSubmit)="onSubmit()">
      <div class="mb-3 row">
        <label for="owner" class="col-sm-3 col-form-label">Owner</label>
        <div class="col-sm-9">
          <input
            type="text"
            class="form-control"
            id="owner"
            formControlName="owner"
            required
            readonly
          />
        </div>
      </div>
      <div class="mb-5 row">
        <label for="name" class="col-sm-3 col-form-label">Playlist name</label>
        <div class="col-sm-9">
          <input
            type="text"
            class="form-control"
            id="name"
            formControlName="name"
            required
          />
        </div>
      </div>
      <div class="mb-3 row">
        <label for="provider" class="col-sm-3 col-form-label"
          >Tracks provider</label
        >
        <div class="col-sm-9">
          <select
            class="form-select"
            id="provider"
            name="provider"
            (change)="onProviderChange($event)"
          >
            <option value="" disabled selected></option>
            <option *ngFor="let provider of providers" [value]="provider">
              {{ provider }}
            </option>
          </select>
        </div>
      </div>
      <div class="mb-3 row">
        <label for="providerTracks" class="col-sm-3 col-form-label"
          >Available tracks</label
        >
        <div class="col-sm-9">
          <div class="input-group">
            <select
              class="form-select"
              id="providerTracks"
              name="providerTracks"
              [(ngModel)]="selectedTrack"
              [ngModelOptions]="{ standalone: true }"
              [attr.disabled]="providerTracks == null ? true : null"
            >
              <option value="" disabled selected></option>
              <option
                *ngFor="let providerTrack of providerTracks"
                [ngValue]="providerTrack"
              >
                {{
                  providerTrack.title +
                    " - " +
                    providerTrack.artist +
                    " [" +
                    providerTrack.album +
                    "]"
                }}
              </option>
            </select>
            <button
              type="button"
              class="btn btn-outline-primary"
              [disabled]="selectedTrack == null"
              (click)="addTrack()"
            >
              Add
            </button>
          </div>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col">
          <ul class="list-group">
            <li
              class="list-group-item d-flex justify-content-between align-items-center"
              *ngFor="
                let track of editingForm.controls.tracks.value;
                let i = index
              "
            >
              <div class="d-flex justify-content-center align-items-center">
                <button
                  type="button"
                  class="btn btn-outline-danger"
                  (click)="removeTrack(i)"
                >
                  Remove
                </button>
              </div>
              <div class="ms-3 me-auto">
                <div class="fw-bold">{{ track.title }}</div>
                {{ track.artist }}
              </div>
              <span class="badge bg-primary rounded-pill">{{
                track.album
              }}</span>
            </li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col d-flex">
          <button
            type="submit"
            class="btn btn-primary ms-auto"
            [disabled]="editingForm.invalid"
          >
            {{ isCreating() ? "Create" : "Edit" }}
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
