<nav class="navbar navbar-dark bg-dark mb-5">
  <div class="container">
    <a class="navbar-brand" routerLink="/">
      <img src="assets/logo.svg" alt="MovinRadio" height="50" />
    </a>

    <span
      class="navbar-text text-white mx-auto"
      *ngIf="!!accountService.getUser()"
    >
      Welcome {{ accountService.getUser() }}!
    </span>

    <button
      *ngIf="accountService.isLoggedIn()"
      type="button"
      class="btn btn-light"
      (click)="accountService.logout()"
    >
      Log out
    </button>
  </div>
</nav>
<main class="container">
  <router-outlet></router-outlet>
</main>
