<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <div class="mb-3">
    <label for="username" class="form-label">Username</label>
    <input
      type="text"
      class="form-control"
      id="username"
      formControlName="username"
      required
    />
  </div>
  <div class="mb-3">
    <label for="password" class="form-label">Password</label>
    <input
      type="password"
      class="form-control"
      id="password"
      formControlName="password"
      required
    />
  </div>
  <button type="submit" class="btn btn-primary" [disabled]="loginForm.invalid">
    Submit
  </button>
  <p class="text-danger" *ngIf="error">Login failed</p>
  <div class="mt-5">
    <p>Quick login:</p>
    <div
      class="btn-group-vertical"
      role="group"
      aria-label="Quick login options"
    >
      <button
        *ngFor="let i of [1, 2, 3]"
        type="button"
        class="btn btn-outline-dark"
        (click)="doLogin('user' + i, 'test')"
      >
        user{{ i }} / test
      </button>
    </div>
  </div>
</form>
